.loginForm{
    width:100%;
    max-width:400px;
    margin: 50px auto;
    padding:20px;
    display: flex;
    background-color: lightcyan;
    gap:15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    flex-direction: column;
}
.loginForm input {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .loginForm input:focus {
    border-color: #007bff;
    outline: none;
  }
  .loginForm button {
    width: 20%;
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  .loginForm button:hover {
    background-color: #0056b3;
  }
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
  }