.form-header
{
    color:black;
    text-align: center;
}
.form-container{
    background-color: lightblue;
    color:black;
    margin: auto;
    padding:20px;
    border-radius: 10px;
    width:50%;
    gap:10px;
}
.form-input{
    background-color: gainsboro;
    color:blue;
    margin-block:10px;
    padding:10px;
    border-radius: 10px;
    width:90%;
}
.form_button{
    text-align: center;
    background-color: green;
    color: black;
    padding:20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}
.form_button:hover{
    background-color: aquamarine;
}