.navbar{
    background-color: antiquewhite;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-h1{
    color:slateblue;
    margin:0;
}
.navbar-link{
    color:black;
    text-decoration: none;
    margin :0 15px;
    font-size: 10px;
    transition: color 0.3s ease-in-out;
}
.navbar-a:hover{
    color:#ffcc00;
}
.navbar-link:active{
    color:#ff9900;
}